* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("/images/bg-intro-mobile.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

body main {
  width: 320px;
  height: auto;
  text-align: center;
}

#header {
  color: white;
  margin-top: 70px;
}

#trial {
  margin: 80px 0 20px 0;
  color: white;
  background-color: hsl(248, 32%, 49%);
  padding: 10px 50px;
  border-radius: 10px;
}

#the-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 70px;
}

input {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border: hsl(246, 25%, 77%) 1px solid;
  border-radius: 5px;
  font-weight: 700;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-weight: 500;
  border-radius: 5px;
  margin: 20px 0 10px 0;
}
button:hover {
  background-color: hsl(154, 61%, 69%);
}
.red {
  color: hsl(0, 100%, 74%);
}
.fw700 {
  font-weight: 700;
}
footer {
  font-size: 12px;
  font-weight: 700;
  color: hsl(246, 25%, 77%);
}
img {
  display: none;
}
.error #img1,
.error #img2,
.error #img3,
.error #img4 {
  display: block;
  position: absolute;
  width: 15px;
  left: 275px;
  margin-top: -35px;
}
.error #s1,
.error #s2,
.error #s3,
.error #s4 {
  display: block;
  text-align: right;
  color: hsl(0, 100%, 74%);
  font-weight: 600;
  font-size: 12px;
  margin: 5px 0 0 0;
}

.error input {
  border-color: hsl(0, 100%, 74%);
}

@media only screen and (min-width: 1300px) {
  body {
    background-image: url("/images/bg-intro-desktop.png");
  }
  body main {
    width: 1200px;
    height: 100vh;
    display: flex;
    margin-top: 100px;
  }
  #header {
    width: 600px;
    margin-top: 200px;
    margin-right: 50px;
    text-align: left;
    font-size: 17px;
  }
  #header h2 {
    font-size: 50px;
    margin: 0;
  }
  #trialForm {
    flex: 50%;
  }
  #form {
  }
  .error #img1,
  .error #img2,
  .error #img3,
  .error #img4 {
    left: 525px;
  }
}
